.linkList {
  display: flex;
  gap: 10px;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.linkList li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.linkList li a {
  color: white;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.linkList li a:hover {
  color: var(--qwik-light-blue);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
}
